@import url('https://fonts.googleapis.com/css?family=Elsie:900|Quicksand');



body {
    padding: 0;
	margin: 0;
	border:0;
	display:block;
	background-color: #F1E5E3;
	font-family: inherit;

}

p{
    position: absolute;
	right:240px;
	top: 70%;
	float: left;
	font-size: 20px;
}
	
nav{
	font-size: 20px;
	float: left;
	height: 10vh;
	background-color: rgba(128, 0, 0,.2);
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 103%;

}

nav a{
	text-decoration: none;
	color: #000000;
	margin: 1em;
}

header{
	height: 80vh;
	width: 85%;
	padding: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/eye.jpg)
}


.title{
    position: absolute;
	right:100px;
	top: 300px;
	float: left;
	font-size: 70px;
	letter-spacing: 3px;
	font-family: 'Elsie', cursive;
	line-height: 5px;

}

#Slogan{

}

#AboutMe{
	position: absolute;
	top: 550px;
	right: 50%;

     
}

#Wrapper{
	padding: 0px;
	margin:0px;
}

#About{
	background-color: #ECCCC8;
	padding: 20px;
	text-align: center;
	height: 20vh;
	border: 1px black solid;
	width: 100%;
}

#work{
	background-color: #F1E5E3;
	padding: 20px; 
	height: 50vh;
	width: 50%;
	position: relative;
	right: -270px;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#UX{
   background-color: pink;
   border-left: 5px black solid;
   border-right: 5px black solid;
   padding: 20px; 
   float: left;
   width: 40%;
   height: 50vh;
   position: relative;
   top:-20px;

}

#WebDesign{
   background-color: pink;
   border-left: 5px black solid;
   border-right: 5px black solid;
   padding: 20px; 
   float: right;
   width: 43%;
   height: 50vh;
   position: relative;
   top:-20px;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px; 
    margin:0;
    width: 100%
}





