@import url('https://fonts.googleapis.com/css?family=Cinzel');


body {
    padding: 0;
	margin: 0;
	border:0;
	display:block;

}

p{
    position: absolute;
	right:240px;
	top: 70%;
	float: left;
	font-size: 20px;
}
	


nav{
	font-size: 20px;
	float: left;
	height: 10vh;
	width: 100%;
	background-color: rgba(128, 0, 0,.2);
	border: 0px;
	padding: 0px;
	margin: 0px;
	display: block;
}

nav a{
	text-decoration: none;
	color: #000000;
	margin: 1em;
}

header{
	height: 80vh;
	width: 100%;
	padding: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/eye.jpg);
}


.title{
    position: absolute;
	right:100px;
	top: 300px;
	float: left;
	font-size: 70px;
	letter-spacing: 2px;
	font-family: 'Cinzel', serif;
}

#Slogan{

}

#AboutMe{

}

#Wrapper{
	padding: 0px;
	margin:0px;
}

#About{
	background-color: #FFE2B8;
	padding: 20px;
	text-align: center;
}

#work{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px; 
	height: 50vh;
	width: 65%;
	position: relative;
	right: -200px;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#UX{
   background-color: violet;
   border: 1px black solid;
   padding: 20px; 
   float: left;
   width: 40%;
   height: 70%;

}

#WebDesign{
   background-color: pink;
   border: 1px black solid;
   padding: 20px; 
   float: right;
   width: 40%;
   height: 70%;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px; 
    margin:0;
}





