@import url('https://fonts.googleapis.com/css?family=Righteous');   




body{
	background: url("../images/backs.jpg") no-repeat center center fixed;
	background-size: cover;
	color: white;
}


h1 {
	position: relative;
	left: 200px; 
	font-family:'Righteous', cursive;
	font-size: 50px;
}


p {
	position: absolute;
	left: 210px;
	top: 90px;
	font-family: Arial;
}

#email {
	position: relative;
	color: white;

}