@import url('https://fonts.googleapis.com/css?family=Righteous');   


body {
	
	background-repeat: no-repeat;
	background-size: cover;
}

header{
	background-image:url(../images/pink.jpg);
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	height: 200px;
}

nav{
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	display: block;
}

#About{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#work{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px; 
}

.UX{
   background-color: #E89C6C;
   border: 1px black solid;
   padding: 20px; 

}

.WebDesign{
   background-color: #E89C6C;
   border: 1px black solid;
   padding: 20px; 
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px; 
}

h1 {
	position: absolute;
	left: 500px; 
	top: 200px;
	font-family:'Righteous', cursive;
	font-size: 100px;
	border-bottom:4px solid black;
}

h2 {
	position: absolute;	left: 210px;
	top: 90px;
	font-family: Arial;
}



